:host {
    display: block;
    padding: 15px;
    width: 100vw;
}

.header {
    
    margin: 20px 0px;
    text-align: center;
}

.header1{
    font-size: 32px;
}

.header2 {
    font-size: 24px;
}



.block {
    border-bottom: 2px solid rgba(grey, 0.5);
    padding: 15px 0px;
    position: relative;

    &:last-child {
        border-bottom: 0px;
    }
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-decoration: underline;
}

.set {
    margin-bottom: 50px;
}

.labels {
    background-color: rgba(white, 0.8);
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 15px 0px;
    position: sticky;
    top: 0px;
}

.label__fields > span {
    margin: 0px 3px;
}

.workout {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.workout__name {
    font-size: 18px;
    font-weight: 400;
}

.workout__description {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 7px;
}

.workout__values {
    display: flex;
    
}

.workout__label, .workout__value {
    font-size: 20px;
    font-weight: 300;
}

.workout__label {
    text-transform: capitalize;
    width: 80px;
}

.workout__value {
    margin: 0px 10px;

    &.hidden {
        display: none;
    }
}

.workout__divider {
    height: 2px;
    background-color: rgba(grey, 0.5);
    margin-top: 40px;
    width: 50px;
}

.set:last-child .workout__divider {
    display: none;
}

.workout__controls {
    display: flex;
    justify-content: space-between;
}