<div class='header'>
    <div class='header__eyebrow'>{{today}}</div>
    <div class='header__title'>Workout</div>
    
</div>


<div class='block' *ngFor='let data of dataService.data'>
    <div *ngIf='!getCurrentGroup(data).complete'>

        <div class='block__header'>
            <div class='title'>{{data.groups[data.groupIdx].name}}</div>
             <app-dropdown (selectEmitter)='dataService.changeGroup(data, $event)'></app-dropdown>
        </div>
        



        <div class='set' *ngFor='let set of getCurrentRoutine(data).content.supersets'>
            <div class='workout' *ngFor='let workout of set.workouts' (click)='goToStory(workout.id)'>
                <div class='workout__name'>{{workout.name}}<div class='workout__description'>
                        {{workout.content.description}}</div>
                </div>

                <div class='workout__values'>
                    <div class='workout__value' *ngFor='let field of fields'
                        [ngClass]='{"hidden": !!!workout.content[field.key]}' (click)='edit()'>
                        {{workout.content[field.key]}} {{field.unit}}</div>
                </div>


            </div>
        </div>

    <app-controls [data]='data' [group]='getCurrentGroup(data)' [routine]='getCurrentRoutine(data)'></app-controls>
    </div>

    <div class='block__complete'>

        <mat-icon  *ngIf='getCurrentGroup(data).complete'>check_circle</mat-icon>
    </div>
    

</div>